@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="text"] {
  border: none;
  outline: none;
 }

 a {
   text-decoration: none;
 }